{% extends '@Kcms/admin/admin.html.twig' %}

{% block title %}Kcms - Pattern Html{% endblock %}

{% block body_title %}
    <h1>Pattern Html</h1>
{% endblock %}

{% block body %}
    <div id="patternhtml_list"></div>
    <div id="dialog" title="Alert"></div>
    <div id="dialog-select" title="Select"></div>
    <div id="dialog-confirm" title="Confirm"></div>
{% endblock %}
