<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="../../html/tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>src/Tests</directory>
        </testsuite>
    </testsuites>

<!--    <coverage pathCoverage="true" processUncoveredFiles="true" cacheDirectory="build/phpunit/cache">-->
<!--        <include>-->
<!--            <directory suffix=".php">src</directory>-->
<!--        </include>-->

<!--        <report>-->
<!--            <text outputFile="php://stdout"/>-->
<!--            <html outputDirectory="phpunit-output-test/coverage"/>-->
<!--        </report>-->

<!--    </coverage>-->

    <filter>
        <whitelist>
            <directory suffix=".php">src/*</directory>
            <exclude>
                <directory suffix="Interface.php">.</directory>
                <directory>src/Controller</directory>
                <directory>src/DependencyInjection</directory>
                <directory>src/Tests</directory>
                <directory>src/Repository</directory>
                <directory>src/Resources</directory>
                <directory>migrations</directory>
                <file>src/KcmsBundle.php</file>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <!-- Run `composer require symfony/panther` before enabling this extension -->
    <!--
    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
    -->
</phpunit>
