{% extends '@Kcms/admin/admin.html.twig' %}

{% block title %}Kcms - Pages{% endblock %}

{% block body_title %}
    <h1>Pages</h1>
{% endblock %}

{% block body %}
    <div id="page_list"></div>
    <div id="dialog" title="Alert"></div>
    <div id="dialog-select" title="Select"></div>
    <div id="dialog-confirm" title="Confirm"></div>
{% endblock %}
