{% extends '@Kcms/admin/admin.html.twig' %}

{% block title %}Kcms Admin - Media Center{% endblock %}

{% block body_title %}
<h1>{{ 'Media Center'|trans }} </h1>
{% endblock %}

{% block body %}
    <iframe src="/kcms/fileman" width="100%" height="500px" style="border: 1px solid #aaaaaa;"></iframe>
{% endblock %}
